<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script
    src="https://kit.fontawesome.com/a076d05399.js"
    crossorigin="anonymous"
  ></script>

    <link rel="stylesheet" href="../../public/global/layoutStyle/style.css" />
    <link rel="stylesheet" href="views/Admin/style/style.css" />
     <title>MyTime</title>
  </head>

  <body>
    <div class="navbar">
      <img src="../../images/logo.svg" alt="Menu logo" />
      <div class="navbar-items-container">
        <a class="navbar-items active-navbar-item" href="/home">Home</a>
        <a class="navbar-items" href="/adminProfile">Profile</a
        >
      </div>
      <i class="fa fa-bars hamburger-menu fa-2x" onclick="showMobileMenu()"></i>
    </div>
    <div class="container">
      <div id="users-list-container">
      </div>
      <div id="statistics-container"></div>
    </div>
    <div class="footer">
      <p>Copyright &copy 2022 Multi-Calendar. All rights reserved.</p>
      <div class="icons-container">
        <a href="https://www.google.com/">
          <img src="../../images/facebook-icon.png" alt="facebook-icon" />
        </a>
        <a href="https://www.google.com/">
          <img src="../../images/instagram-icon.png" alt="instagram-icon" />
        </a>
        <a href="https://www.google.com/">
          <img src="../../images/twitter-icon.png" alt="instagram-icon" />
        </a>
      </div>
    </div>
    <script src="views/Admin/script/admin.js"></script>
    <script src="../../public/script/script.js"></script>
    <!--<link rel="stylesheet" href="style/style.css" />-->
  </body>
</html>
