<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/global/layoutStyle/style.css">
    <link rel="stylesheet" href="views/Register/style/register.css">
    <title>MyTime</title>
</head>

<body>

    <div class="container">
        <form action="#" id="form" method="post" class="form-general ">
            <div id="error-msg">.</div>
            <h2>Register</h2>

            <input id="firstName" type="text" placeholder="First Name" />
            <input id="lastName" type="text" placeholder="Last Name" />
            <input id="email" type="email" placeholder="Email" />
            <input id="password" type="password" class="pass-key" placeholder="Password" />
            <input id="password-confirm" type="password" class="pass-key" placeholder="Confirm Password" />
            <label>
                <input type="checkbox" name="terms" /> I accept the
                <u>Terms and Conditions</u>
            </label>
            <hr />
            <button class="btn btn-primary" onclick="onClick()">Register Now</button>
            <button class="btn btn-primary home">Home</button>
    </div>
    </div>
    <script src="views/Register/script/register.js"></script>

</body>

</html>