body{
    overflow-x: hidden;
    .container{
        background-image: url("../../../images/home-img2.jpg");
             background-attachment: fixed;
             padding-bottom: 20rem;
             height: 100vh;
             padding-top: 2rem;
             padding-left: 5rem;
             display:inline-block;
        
             div{
                margin-top: 5rem;
                text-align: left;
                width: 70vw;
             }
             #nr-of-tasks{
                margin-top: 3rem;
                font-size: 2rem;
             }
        
    }
    .footer{
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}



@media (max-width: 900px) {
    .container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        div{
            margin-top: 0rem;
            text-align: left;
            width: 70vw;
         }
        
    }
}




@media (max-width: 600px) {
    .container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items:center;
        text-align: center;
        
    }
}



