.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: rgba(149, 221, 224, 0.705);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .sub-container {
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background-color: #979999;
  width: 13rem;
  height: 35rem;
  padding: 3rem;
}

.container .sub-container h3 {
  color: #f7f7f7d5;
  padding-top: 12rem;
  padding-bottom: 1rem;
}

.container form {
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30rem;
  height: 35rem;
  padding: 3rem;
  background: rgba(252, 248, 248, 0.952);
  border-radius: 0.2rem;
}

.container form h2 {
  text-align: center;
  margin-bottom: 1.8rem;
}

.container form input {
  outline: none;
  padding: 0.5rem 0.8rem;
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

.container form hr {
  background: #f7f7f7;
  margin: 1rem;
}

.container form .new-account {
  visibility: hidden;
}

.container .container-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.5rem;
}

.container .google-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  background-color: black;
}

.container .google-icon-wrapper {
  height: .9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .btn-text {
  text-align: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 0.9rem;
}

@media (max-width: 900px) {
  .container .sub-container {
    visibility: hidden;
    width: 0;
    padding: 0;
  }
  .container form {
    height: 60%;
    width: 70%;
    padding-left: auto;
    padding-right: auto;
  }
  .container form .new-account {
    visibility: visible;
  }
}

@media (max-width: 400px) {
  .container .sub-container {
    visibility: hidden;
  }
  .container form {
    width: 100%;
    height: 35rem;
  }
  .container form .new-account {
    visibility: visible;
  }
}
/*# sourceMappingURL=style.css.map */