.container {
    display: flex;
    flex-direction: row;
    background-color: rgba(149, 221, 224, 0.705);
    align-items: center;
    .sub-container {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        background-color: rgb(151, 153, 153);
        width: 13rem;
        height: 35rem;
        padding: 3rem;
        h3 {
            color: #f7f7f7d5;
            padding-top: 12rem;
            padding-bottom: 1rem;
        }
    }
    form {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        display: flex;
        flex-direction: column;
        width: 30rem;
        height: 35rem;
        padding: 3rem;
        background: rgba(252, 248, 248, 0.952);
        border-radius: 0.2rem;
        h2 {
            text-align: center;
            margin-bottom: 1.8rem;
        }
        input {
            outline: none;
            padding: 0.5rem 0.8rem;
            margin-bottom: 1rem;
            font-size: 0.9rem;
        }
        hr {
            background: #f7f7f7;
            margin: 1rem;
        }
        .new-account {
            visibility: hidden;
        }
    }
    .container-btn {
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;
    }
    .google-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        background-color: black;
    }
    .google-icon-wrapper {
        height: .9rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .btn-text {
        text-align: start;
        justify-content: flex-start;
        align-items: flex-start;
        font-size: 0.9rem;
    }
}

@media (max-width: 900px) {
    .container {
        .sub-container {
            visibility: hidden;
            width: 0;
            padding: 0;
        }
        form {
            height: 60%;
            width: 70%;
            padding-left: auto;
            padding-right: auto;
            .new-account {
                visibility: visible;
            }
        }
    }
}

@media (max-width: 400px) {
    .container {
        .sub-container {
            visibility: hidden;
        }
        form {
            width: 100%;
            height: 35rem;
            .new-account {
                visibility: visible;
            }
        }
    }
}