<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../public/global/layoutStyle/style.css" />
    <link rel="stylesheet" href="./style/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>MyTime</title>
  </head>
  <body>
    <div class="navbar">
      <img src="../../images/logo.svg" alt="Menu logo" />
      <div class="navbar-items-container">
        <a class="navbar-items" href="../Home-logged/home-logged.html">Home</a>
        <a class="navbar-items" href="../FriendsList/friendsList.html"
          >Friends</a
        >
        <a class="navbar-items active-navbar-item" href="./calendar.html"
          >Calendar</a
        >
        <a class="navbar-items" href="#">Requests</a>
        <a class="navbar-items" href="../UserProfile/userProfile.html"
          >Profile</a
        >
      </div>
      <i class="fa fa-bars hamburger-menu fa-2x" onclick="showMobileMenu()"></i>
    </div>
    <div class="container">
      <h1 class="month-year">Aprilie 2022</h1>
      <div class="calendar-container">
        <div class="day-container">
          <ul class="day-week">
            <li>Luni</li>
            <li>Marti</li>
            <li>Miercuri</li>
            <li>Joi</li>
            <li>Vineri</li>
            <li>Sambata</li>
            <li>Duminica</li>
          </ul>

          <ul class="day-number">
            <li>8</li>
            <li>9</li>
            <li>10</li>
            <li>11</li>
            <li>12</li>
            <li>13</li>
            <li>14</li>
          </ul>
        </div>

        <div class="time-container">
          <ul class="time">
            <li>08</li>
            <li>09</li>
            <li>10</li>
            <li>11</li>
            <li>12</li>
            <li>13</li>
            <li>14</li>
            <li>15</li>
            <li>16</li>
            <li>17</li>
            <li>18</li>
            <li>19</li>
            <li>20</li>
            <li>21</li>
            <li>22</li>
            <li>23</li>
            <li>00</li>
            <li>01</li>
            <li>02</li>
            <li>03</li>
            <li>04</li>
            <li>05</li>
            <li>06</li>
            <li>07</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer">
      <p>Copyright &copy 2022 Multi-Calendar. All rights reserved.</p>
      <div class="icons-container">
        <a href="https://www.google.com/">
          <img src="../../images//facebook-icon.png" alt="facebook-icon" />
        </a>
        <a href="https://www.google.com/">
          <img src="../../images//instagram-icon.png" alt="instagram-icon" />
        </a>
        <a href="https://www.google.com/">
          <img src="../../images//twitter-icon.png" alt="instagram-icon" />
        </a>
      </div>
    </div>
    <script src="../../public/script/script.js"></script>
  </body>
</html>
