<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../public/global/layoutStyle/style.css" />
    <link rel="stylesheet" href="./style/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>MyTime</title>
  </head>
  <body>
    <div class="navbar">
      <img src="../../images/logo.svg" alt="Menu logo" />
      <div class="navbar-items-container">
        <a class="navbar-items" href="../Home-logged/home-logged.html">Home</a>
        <a class="navbar-items" href="../FriendsList/friendsList.html"
          >Friends</a
        >
        <a class="navbar-items active-navbar-item" href="./calendar.html"
          >Calendar</a
        >
        <a class="navbar-items" href="#">Requests</a>
        <a class="navbar-items" href="../UserProfile/userProfile.html"
          >Profile</a
        >
      </div>
      <i class="fa fa-bars hamburger-menu fa-2x" onclick="showMobileMenu()"></i>
    </div>
    <div class="container">
      <div class="calendar-time-container">
        <h1 class="month-year">Aprilie 2022</h1>
        <div class="time-container">
          <div class="hour">08</div>
          <div class="hour">10</div>
          <div class="hour">12</div>
          <div class="hour">14</div>
          <div class="hour">16</div>
          <div class="hour">18</div>
          <div class="hour">20</div>
          <div class="hour">22</div>
          <div class="hour">00</div>
          <div class="hour">02</div>
          <div class="hour">04</div>
          <div class="hour">06</div>
        </div>
      </div>
      <div class="calendar-week">
        <div class="calendar-day">Luni</div>
        <div class="calendar-day">Marti</div>
        <div class="calendar-day">Miercuri</div>
        <div class="calendar-day">Joi</div>
        <div class="calendar-day">Vineri</div>
        <div class="calendar-day">Sambata</div>
        <div class="calendar-day">Duminica</div>
      </div>
    </div>
    <div class="footer">
      <p>Copyright &copy 2022 Multi-Calendar. All rights reserved.</p>
      <div class="icons-container">
        <a href="https://www.google.com/">
          <img src="../../images//facebook-icon.png" alt="facebook-icon" />
        </a>
        <a href="https://www.google.com/">
          <img src="../../images//instagram-icon.png" alt="instagram-icon" />
        </a>
        <a href="https://www.google.com/">
          <img src="../../images//twitter-icon.png" alt="instagram-icon" />
        </a>
      </div>
    </div>
    <script src="../../public/script/script.js"></script>
  </body>
</html>
