body{
    width: 100%;
}
.container {
    .description{
        text-align:left;
        padding-left: 1.5rem;
        p{
            padding-bottom: 1rem;
        }
        h2{
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
        }
        iframe{
            padding-top: 1.5rem;
        }
    }
}


@media (max-width: 900px) {
    .container {
        .description{
            text-align:left;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            p{
                padding-bottom: 1rem;
            }
            h2{
                padding-top: 1.5rem;
                padding-bottom: 1.5rem;
            }
            iframe{
                padding-top: 1.5rem;
            }
        }
    }
}

@media (max-width: 600px) {
    .container {
        .description{ 
            iframe{
                padding-top: 1.5rem;
                width: 100%;
            }
        }
    }
}


