<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/layout1.css">
    <title>NumeAplicatie</title>
</head>

<body>
    <div class="nav-bar">
        <div class="logo">LOGO</div>
        <div class="nav-items">
            <li class="btn"><a href="#">Home</a></li>
            <li class="btn"><a href="#">Log in</a></li>
            <li class="btn"><a href="#">Sign up</a></li>
        </div>

    </div>
    <div class="container">
        <p>container</p>
    </div>
    <div class="footer">
        <p>footer</p>
    </div>

</body>

</html>