.container-friends {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  /* FRIENDS -> 1 container : details + buttons*/
}

.container-friends .nav-friends {
  width: 100%;
  padding: 0.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  background-color: grey;
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
  padding-right: 5rem;
}

.container-friends .nav-friends a {
  color: white;
  text-decoration: none;
}

.container-friends .nav-friends .subliniere {
  text-decoration: underline;
}

.container-friends .friends-page-components {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2.5fr 1fr;
      grid-template-columns: 2.5fr 1fr;
}

.container-friends .friends-page-components #friends-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.container-friends .friends-page-components #friends-container .friend-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 6fr;
      grid-template-columns: 3fr 6fr;
  background: rgba(149, 221, 224, 0.705);
  padding: 2rem;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
          box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.container-friends .friends-page-components #friends-container .friend-container .friend-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.container-friends .friends-page-components .social-media .fromTwitter {
  padding: 1rem;
  background-color: rgba(207, 206, 206, 0.285);
}

.container-friends .friends-page-components .social-media .fromTwitter .title-social-media {
  text-align: center;
  margin-bottom: 1rem;
}

.container-friends .friends-page-components .social-media .fromTwitter .friend-twitter-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}

.container-friends .friends-page-components .social-media .fromTwitter .friend-twitter-container .user-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
}

.container-friends .friend-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 600px) {
  .friend-container {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    padding: 1rem;
    margin: 0;
  }
}

.popup-container {
  display: none;
  background-color: #95dde0;
  padding: 50px;
  border-radius: 20px;
  z-index: 2;
  position: absolute;
  width: 300px;
  top: 100px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.popup-container i {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 15px;
  color: #f04646;
}

.popup-container .popup-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popup-container input,
.popup-container select {
  border-radius: 10px;
  margin-bottom: 20px;
  border: 2px solid white;
  padding: 10px;
}

.popup-container .color-picker {
  text-align: start;
}

.popup-container .color-picker label {
  color: black;
}

.popup-container .color-picker #color-picker-input {
  padding: 0;
}

.popup-container #suggestions-btn {
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
}

.suggestions-popup {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid black;
  padding: 30px;
  border-radius: 20px;
  z-index: 2;
  width: 600px;
  top: 80px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.suggestions-popup i {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 15px;
  color: #f04646;
}

.suggestions-popup h2 {
  text-align: center;
}

.suggestions-popup h3 {
  padding-top: 10px;
  text-align: center;
}

.suggestions-popup .suggestions {
  height: 10%;
}

.suggestions-popup .suggestions .suggestion {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px;
}

.suggestions-popup .suggestions .suggestion .time {
  text-align: center;
}

.suggestions-popup .suggestions .suggestion .location {
  margin-left: 15px;
  text-align: center;
}

.suggestions-popup .suggestions .suggestion:hover {
  background-color: #f04646;
  color: white;
}

.suggestions-popup .download-btn {
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
}

.suggestions-popup .download-btn:hover {
  background-color: #f04646;
  color: white;
}

.suggestions-popup .buttons-pop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}
/*# sourceMappingURL=friendsList.css.map */