$color-nav: grey;
.container-friends {
  justify-content: flex-start;
  .nav-friends {
    width: 100%;
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: $color-nav;
    column-gap: 3rem;
    padding-right: 5rem;
    a {
      color: white;
      text-decoration: none;
    }

    .subliniere {
      text-decoration: underline;
    }
  }
  /* FRIENDS -> 1 container : details + buttons*/
  .friends-page-components {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    #friends-container {
      margin-top: 1rem;
      margin-bottom: 1rem;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .friend-container {
        display: grid;
        grid-template-columns: 3fr 6fr;
        background: rgba(149, 221, 224, 0.705);
        padding: 2rem;
        border-radius: 0.5rem;
        box-shadow: 0px 10px 13px -7px #000000,
          5px 5px 15px 5px rgba(0, 0, 0, 0);
        .friend-buttons {
          display: flex;
          align-items: center;
          justify-content: start;
        }
      }
    }
    .social-media {
      .fromTwitter {
        padding: 1rem;
        background-color: rgba(207, 206, 206, 0.285);

        .title-social-media {
          text-align: center;
          margin-bottom: 1rem;
        }

        .friend-twitter-container {
          display: flex;
          align-items: center;
          margin-top: 1rem;

          .user-details {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
          }
        }
      }
    }
  }
  .friend-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .friend-container {
    display: flex !important;
    flex-direction: column !important;
    padding: 1rem;
    margin: 0;
  }
}

.popup-container {
  display: none;
  // position: relative;
  background-color: rgb(149, 221, 224);
  padding: 50px;
  border-radius: 20px;
  z-index: 2;
  position: absolute;
  width: 300px;
  top: 100px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  i {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 15px;
    color: rgb(240, 70, 70);
  }
  .popup-content {
    display: flex;
    flex-direction: column;
  }
  input,
  select {
    border-radius: 10px;
    margin-bottom: 20px;
    border: 2px solid white;
    padding: 10px;
  }
  .color-picker {
    text-align: start;
    label {
      color: black;
    }
    #color-picker-input {
      padding: 0;
    }
  }
  #suggestions-btn {
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
  }
}

.suggestions-popup {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid black;
  padding: 30px;
  border-radius: 20px;
  z-index: 2;
  width: 600px;
  top: 80px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  i {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 15px;
    color: rgb(240, 70, 70);
  }
  h2 {
    text-align: center;
  }
  h3 {
    padding-top: 10px;
    text-align: center;
  }

  .suggestions {
    height: 10%;
    .suggestion {
      cursor: pointer;
      display: flex;
      margin-top: 30px;
      border: 1px solid black;
      border-radius: 20px;
      padding: 10px;
      .time {
        text-align: center;
      }
      .location {
        margin-left: 15px;
        text-align: center;
      }
    }
    .suggestion:hover {
      background-color: rgb(240, 70, 70);
      color: white;
    }
  }

  .download-btn {
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
  }
  .download-btn:hover {
    background-color: rgb(240, 70, 70);
    color: white;
  }

  .buttons-pop {
    display: flex;
    margin-top: 10px;
    justify-content: center;
    gap: 1rem;
  }
}
