.container-friends {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  /* FRIENDS -> 1 container : details + buttons*/
}

.container-friends .nav-friends {
  width: 100%;
  padding: 0.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  background-color: grey;
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
  padding-right: 5rem;
}

.container-friends .nav-friends li {
  list-style-type: none;
}

.container-friends .nav-friends li a {
  color: white;
}

.container-friends .friends {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
  row-gap: 2rem;
  border-radius: 0.5rem;
}

.container-friends .friends .friend-container {
  margin-left: 10rem;
  margin-right: 10rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 6fr;
      grid-template-columns: 3fr 6fr;
  background: rgba(149, 221, 224, 0.705);
  padding: 2rem;
  border-radius: 0.5rem;
}

.container-friends .friends .friend-container .friend-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
}

.container-friends .friend-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 900px) {
  .container-friends .friends .friend-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container-friends .friends .friend-container .friend-buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.5rem;
  }
}

.subliniere {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .container-friends .nav-friends {
    padding: 0.7rem;
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 0.5rem;
  }
  .container-friends .friends {
    padding: 1rem;
    margin: 0;
  }
  .container-friends .friends .friend-container {
    padding: 1rem;
    margin: 0;
  }
}
/*# sourceMappingURL=style.css.map */