$color-nav:grey;
.container {
    display: grid;
    grid-template-rows: 50px auto;
    .nav-friends {
        display: flex;
        justify-content: end;
        align-items: center;
        background-color: $color-nav;
        column-gap: 3rem;
        padding-right: 5rem;
        li {
            list-style-type: none;
            a {
                color: white;
            }
        }
    }
    /* FRIENDS -> 1 container : details + buttons*/
    .friends {
        display: flex;
        flex-direction: column;
        padding: 2rem;
        row-gap: 2rem;
        border-radius: 0.5rem;
        .friend-container {
            margin-left: 10rem;
            margin-right: 10rem;
            display: grid;
            grid-template-columns: 3fr 6fr;
            background: rgba(149, 221, 224, 0.705);
            padding: 2rem;
            border-radius: 0.5rem;
            .friend-buttons {
                display: flex;
                align-items: center;
                justify-content: start;
                column-gap: 3rem;
            }
        }
    }
    .friend-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}