/* GENERAL hdgvwbweib*/

* {
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    list-style-type: none;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}


/*BUTOANE*/

.btn {
    border-bottom: 3px solid #494444;
    border-right: 3px solid #494444;
    box-shadow: 0 3px 12px rgb(27, 26, 26);
    background-color: #4B778D;
    padding: 10px;
    border-radius: 16px;
    color: rgb(214, 202, 202);
    cursor: pointer;
}

.btn-danger {
    background-color: #d81010;
    padding: 10px;
    border-radius: 16px;
    color: rgb(214, 202, 202);
}

.btn-primary {
    background-color: #108fd8;
    padding: 10px;
    border-radius: 16px;
    color: rgb(214, 202, 202);
}

.btn-add {
    background-color: #10d82b;
    padding: 10px;
    border-radius: 16px;
    color: rgb(29, 26, 26);
}

.btn:hover {
    background-color: #665b5b;
}

.avatar {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
}

body {
    display: grid;
    grid-template-rows: 100px 1fr 100px;
}


/*NAV BAR*/

.nav-bar {
    background-color: #77E4D4;
    display: grid;
    grid-template-columns: 2fr 8fr;
}

.nav-items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    align-content: center;
    column-gap: 2rem;
    margin-right: 4rem;
}

.nav-items li a {
    color: rgb(214, 202, 202);
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}


/*FOOTER*/

.footer {
    background-color: #4dbd9b;
    width: 100%;
}