.user-profile-container {
  width: 30rem;
  height: 35rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  background-color: rgba(149, 221, 224, 0.705);
  border-radius: 0.2rem;
  box-shadow: 10px 10px 5px 0px rgba(117,110,117,1);
  .user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    gap: 1rem;
    .btn {
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }
    > div, h2, .logout {
      display: flex;
      gap: 0.5rem;
      width: 75%;
      align-items: center;
    }
    .logout {
      cursor: pointer;
    }
    .edit {
      width: 1rem;
      cursor: pointer;
    } 
    #save, #cancel {
      width: 25%;
      margin: 0;
      display: none;
    }
  }
}

@media screen and (max-width: 550px) {
  .user-profile-container {
    width: 90%;
  }
}
