<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../public/global/layoutStyle/style.css" />
    <link rel="stylesheet" href="./style/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <title>MyTime</title>
</head>

<body>
    <div class="navbar">
        <img src="../../images/logo.svg" alt="Menu logo" />
        <div class="navbar-items-container">
            <a class="navbar-items" href="../Home-logged/home-logged.html">Home</a>
            <a class="navbar-items" href="../FriendsList/friendsList.html">Friends</a
        >
        <a class="navbar-items" href="../Calendar/calendar.html">Calendar</a>
            <a class="navbar-items" href="../Requests/requests.html">Requests</a>
            <a class="navbar-items" href="../UserProfile/userProfile.html">Profile</a
        >
      </div>
      <i class="fa fa-bars hamburger-menu fa-2x" onclick="showMobileMenu()"></i>
    </div>
    <div class="container">
      <div class="suggestions-container">
        <h2>Suggestions</h2>

        <div class="suggestions-list">
          <div class="suggestion">
            <div class="suggestion-details">
              <p class="scope">Scope:</p>
              <p class="where">Where:</p>
              <p class="when">Time:</p>
            </div>
            <button class="btn-add btn">Send</button>
          </div>

          <div class="suggestion">
            <div class="suggestion-details">
              <p class="scope">Scope:</p>
              <p class="where">Where:</p>
              <p class="when">Time:</p>
            </div>
            <button class="btn-add btn">Send</button>
          </div>

          <div class="suggestion">
            <div class="suggestion-details">
              <p class="scope">Scope:</p>
              <p class="where">Where:</p>
              <p class="when">Time:</p>
            </div>
            <button class="btn-add btn">Send</button>
          </div>
        </div>
        <button class="btn download">Download</button>
      </div>
      <div class="combination">
        <div class="friend-details">
          <img src="../../images/friend.svg" alt="friend picture" />
          <p>Friend name</p>
        </div>
        <div class="my-details">
          <img src="../../images/friend.svg" alt="friend picture" />
          <p>me</p>
        </div>
      </div>
    </div>
    <div class="footer">
      <p>Copyright &copy 2022 Multi-Calendar. All rights reserved.</p>
      <div class="icons-container">
        <a href="https://www.google.com/">
          <img src="../../images/facebook-icon.png" alt="facebook-icon" />
        </a>
            <a href="https://www.google.com/">
                <img src="../../images/instagram-icon.png" alt="instagram-icon" />
            </a>
            <a href="https://www.google.com/">
                <img src="../../images/twitter-icon.png" alt="instagram-icon" />
            </a>
        </div>
    </div>
    <script src="../../public/script/script.js"></script>
</body>

</html>