<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../public/global/layoutStyle/style.css" />
    <link rel="stylesheet" href="./style/style.css" />
    <title>MyTime</title>
  </head>

  <body>
    <div class="navbar">
      <img src="../../images/logo.svg" alt="Menu logo" />
      <div class="navbar-items-container">
        <a class="navbar-items" href="../Home/home.html">Home</a>
        <a class="navbar-items active-navbar-item" href="../Login/login.html"
          >Log in</a
        >
        <a class="navbar-items" href="../Register/register.html">Sign up</a>
      </div>
    </div>
    <div class="container">
      <form action="#" class="form-general">
        <h2>Log in</h2>
        <input type="text" required placeholder="User Name" />
        <input
          type="password"
          class="pass-key"
          required
          placeholder="Password"
        />
        <div class="container-btn">
          <button class="btn btn-primary">Log in</button>
          <button class="btn btn-primary">Create New Account</button>
          <hr />
          <div class="google-btn btn">
            <div class="google-icon-wrapper">
              <img
                class="google-icon"
                src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"
              />
            </div>
            <div class="btn-text">Sign in with google</div>
          </div>
        </div>
      </form>
    </div>
    <div class="footer">
      <p>Copyright &copy 2022 Multi-Calendar. All rights reserved.</p>
      <div class="icons-container">
        <a href="https://www.google.com/">
          <img src="../../images/facebook-icon.png" alt="facebook-icon" />
        </a>
        <a href="https://www.google.com/">
          <img src="../../images/instagram-icon.png" alt="instagram-icon" />
        </a>
        <a href="https://www.google.com/">
          <img src="../../images/twitter-icon.png" alt="instagram-icon" />
        </a>
      </div>
    </div>
  </body>
</html>
