<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../public/global/layoutStyle/style.css" />
    <link rel="stylesheet" href="views/Login/style/login.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>MyTime</title>
</head>

<body>
    <div class="container">
        <div class="sub-container">
            <img src="../../images/logo.svg" alt="Menu logo" />
            <h3>New here?</h3>
            <button class="btn btn-primary" onclick="redirectRegister()">Sign in</button>
        </div>
        <form action="#" id="form" class="form-general">
            <h2>Log in</h2>
            <input id="email" type="text" placeholder="Email" />
            <input id="password" type="password" class="pass-key" placeholder="Password" />
            <div class="container-btn">
                <button class="btn btn-primary" onclick="login()">Log in</button>
                <button class="btn btn-primary new-account" onclick="redirectRegister()">Create New Account</button>
                <hr />
                <div class=" google-btn btn" onclick="loginWithGoogle()">
                    <div class="google-icon-wrapper">
                        <img class="google-icon"
                            src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"  alt="google logo"/>
                    </div>
                    <div class="btn-text">Log in with google</div>
                </div>
                <div class="btn btn-primary" onclick="redirectHome()">Home</div>
            </div>
        </form>
        <script src="views/Login/script/login.js"></script>

    </div>

</html>