<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../public/global/layoutStyle/style.css" />
    <link rel="stylesheet" href="views/Home/style/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <title>MyTime</title>
</head>

<body>
    <div class="navbar">
        <img src="../../images/logo.svg" alt="Menu logo" />
        <div class="navbar-items-container">
            <a class="navbar-items active-navbar-item" href="/home">Home</a>
            <a class="navbar-items" href="/login">Log in</a>
            <a class="navbar-items" href="/register">Sign up</a>
        </div>
        <i class="fa fa-bars hamburger-menu fa-2x" onclick="showMobileMenu()"></i>
    </div>

    <div class="container">
        <div class="title">
            <h3 id="home-page-date"></h3>
            <h1 id="home-page-greeting"></h1>
        </div>

        <div class="description">

            <h2>Feel organized without the effort</h2>

            <p>
                Would you like your team to work more productively? Do teammates often duplicate each other's efforts? Do you feel like you're not making the most of each workday? Good news: increasing your productivity isn't hard. It just requires you to be more deliberate
                about how you manage your time.
            </p>
            <p>
                MuC is a website that monitors the online calendars of multiple users in real time.
            </p>
            <p>
                Instead of spending time looking through emails, spreadsheets, or even handwritten notes, keep information, like project plans and meeting notes, in one place to make sure everyone pulls from the same pool of knowledge.
            </p>



           

            

            <!--
            <iframe width="560" height="315" src="https://www.youtube.com/embed/fJ9rUzIMcZQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>

            </iframe>
        -->

            <h2>About us</h2>
            <p>
                MuC was created by three very ambitious students who wanted to make scheduling different meetings much easier
            </p>
        </div>


    </div>
    <div class="footer">
        <p>Copyright &amp;copy 2022 Multi-Calendar. All rights reserved.</p>
        <div class="icons-container">
            <a href="https://www.google.com/">
                <img src="../../images/facebook-icon.png" alt="facebook-icon" />
            </a>
            <a href="https://www.google.com/">
                <img src="../../images/instagram-icon.png" alt="instagram-icon" />
            </a>
            <a href="https://www.google.com/">
                <img src="../../images/twitter-icon.png" alt="instagram-icon" />
            </a>
        </div>
    </div>
    <script language="javascript" type="text/javascript" src="./views/Home/script/home.js"></script>
    <script src="../../public/script/script.js"></script>
</body>

</html>