.container {
    overflow-x: hidden;
    .select {
        display: inline-flex;
        p {
            margin-right: 10px;
        }
        input {
            margin-left: 10px;
        }
    }
    #create-event-btn {
        cursor: pointer;
        border-radius:5px ;
        border-color: white;
        background-color: #254fdb;
        color: white;
        font-size: 14px;
        padding: 5px;
        margin-top: 10px;
    }
    .calendar-container {
        width: 100%;
        height: 100%;
        
        padding-bottom: 20px;
        padding-right: 20px;
        position: relative;
        .calendar-header {
            display: flex;
            padding-left: 20px;
            .calendar-header-chunk {
                padding-right: 20px;
                button {
                    padding-right: 10px;
                    padding-left: 10px;
                    color: rgb(46, 44, 44);
                    background-color: #ffffff00;
                }
                button:hover {
                    background-color: #dfe1e2a2;
                }
            }
        }
        #calendar-table {
            #calendar-table-header {
                padding-left: 90px;
                padding-top: 40px;
                display: flex;
                width: 100%;
                justify-content: space-between;
                .day-date {
                    border: 1px solid #dfe1e2a2;
                    width: 100%;
                    div {
                        width: 100%;
                        height: 61.2px;
                        border: 1px solid #dfe1e2a2;
                        
                    }
                }
                #hour-cells {
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    padding-top: 40px;
                    padding-bottom: 100px;
                    left: 20px;
                    div {
                        padding-top: 20px;
                        padding-bottom: 20px;
                        padding-left: 10px;
                        padding-right: 10px;
                        width: 100%;
                        border:1px solid #dfe1e2a2;;
                    }
                    z-index: 0;
                }
            }
        }
    }    
    .popup-container{
        display: none;
        background-color:#6f9fd7d0;
        height: 500px;
        padding:50px;
        border-radius:20px ;
        z-index: 2;
        position:absolute;
        width:400px;
        top:20px;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        .popup-content{
            display: flex;
            flex-direction: column;
        }
        textarea{
            padding: 20px;
            border-radius:10px;
            border:2px solid white;
        }
        input{
            border-radius:10px;
            margin-bottom: 20px;
            border:2px solid white;
            padding:10px;
        }
        .date-time-container{
            display: block;
            margin-top: 10px;
            text-align: start;
            border-radius: 10px;
            color: white;
        }
        .color-picker{
            margin-top:20px;
            text-align: start;
            label{
                color:White;
            }
            #color-picker-input{
                padding:0;
            }
        }

        #add-event-btn{
            padding:10px;
            border-radius:20px;
        }
    }
}
.footer {
    position: fixed;
    background-color: #6f9fd7;
    z-index: 1;
    bottom: 0;
    left: 0;
}