.container {
  overflow-x: hidden;
}

.container .select {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.container .select p {
  margin-right: 10px;
}

.container .select input {
  margin-left: 10px;
}

.container #create-event-btn {
  cursor: pointer;
  border-radius: 5px;
  border-color: white;
  background-color: #254fdb;
  color: white;
  font-size: 14px;
  padding: 5px;
  margin-top: 10px;
}

.container .calendar-container {
  width: 100%;
  height: 100%;
  padding-bottom: 20px;
  padding-right: 20px;
  position: relative;
}

.container .calendar-container .calendar-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20px;
}

.container .calendar-container .calendar-header .calendar-header-chunk {
  padding-right: 20px;
}

.container .calendar-container .calendar-header .calendar-header-chunk button {
  padding-right: 10px;
  padding-left: 10px;
  color: #2e2c2c;
  background-color: #ffffff00;
}

.container .calendar-container .calendar-header .calendar-header-chunk button:hover {
  background-color: #dfe1e2a2;
}

.container .calendar-container #calendar-table #calendar-table-header {
  padding-left: 90px;
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .calendar-container #calendar-table #calendar-table-header .day-date {
  border: 1px solid #dfe1e2a2;
  width: 100%;
}

.container .calendar-container #calendar-table #calendar-table-header .day-date div {
  width: 100%;
  height: 61.2px;
  border: 1px solid #dfe1e2a2;
}

.container .calendar-container #calendar-table #calendar-table-header #hour-cells {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 40px;
  padding-bottom: 100px;
  left: 20px;
  z-index: 0;
}

.container .calendar-container #calendar-table #calendar-table-header #hour-cells div {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  border: 1px solid #dfe1e2a2;
}

.container .popup-container {
  display: none;
  background-color: #6f9fd7d0;
  height: 500px;
  padding: 50px;
  border-radius: 20px;
  z-index: 2;
  position: absolute;
  width: 400px;
  top: 20px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.container .popup-container .popup-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .popup-container textarea {
  padding: 20px;
  border-radius: 10px;
  border: 2px solid white;
}

.container .popup-container input {
  border-radius: 10px;
  margin-bottom: 20px;
  border: 2px solid white;
  padding: 10px;
}

.container .popup-container .date-time-container {
  display: block;
  margin-top: 10px;
  text-align: start;
  border-radius: 10px;
  color: white;
}

.container .popup-container .color-picker {
  margin-top: 20px;
  text-align: start;
}

.container .popup-container .color-picker label {
  color: White;
}

.container .popup-container .color-picker #color-picker-input {
  padding: 0;
}

.container .popup-container #add-event-btn {
  padding: 10px;
  border-radius: 20px;
}

.footer {
  position: fixed;
  background-color: #6f9fd7;
  z-index: 1;
  bottom: 0;
  left: 0;
}
/*# sourceMappingURL=style.css.map */