<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../public/global/layoutStyle/style.css" />
    <link
      rel="stylesheet"
      href="views/FriendsRequests/style/FriendsRequests.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>MyTime</title>
  </head>

  <body>
    <div class="navbar">
      <img src="../../images/logo.svg" alt="Menu logo" />
      <div class="navbar-items-container">
        <a class="navbar-items" href="/home">Home</a>
        <a class="navbar-items active-navbar-item" href="/friendsList"
          >Friends</a
        >
        <a class="navbar-items" href="/calendar">Calendar</a>
        <a class="navbar-items" href="/requests">Requests</a>
        <a class="navbar-items" href="/userProfile">Profile</a>
      </div>
      <i class="fa fa-bars hamburger-menu fa-2x" onclick="showMobileMenu()"></i>
    </div>

    <div class="container-friends">
      <div class="nav-friends">
        <li>
          <a href="/friendsRequests" class="subliniere">Friend Requests</a>
        </li>
        <li>
          <a href="/friendsList">Your Friends List</a>
        </li>
        <div class="search-container">
          <form action="#">
            <input type="text" placeholder="Search..." name="search" />
            <button type="submit" class="btn-primary btn">Search</button>
          </form>
        </div>
      </div>
      <div id="friendsRequests"></div>
      <h3>Your Requests:</h3>
    </div>

    <div class="footer">
      <p>Copyright &copy 2022 Multi-Calendar. All rights reserved.</p>
      <div class="icons-container">
        <a href="https://www.google.com/">
          <img src="../../images/facebook-icon.png" alt="facebook-icon" />
        </a>
        <a href="https://www.google.com/">
          <img src="../../images/instagram-icon.png" alt="instagram-icon" />
        </a>
        <a href="https://www.google.com/">
          <img src="../../images/twitter-icon.png" alt="instagram-icon" />
        </a>
      </div>
    </div>
    <script src="../../public/script/script.js"></script>
    <script src="views/FriendsRequests/script/FriendsRequests.js"></script>
  </body>
</html>
