html, body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.container {
  margin: 0;
  padding: 0;
  width: 100%;
}

.suggestions-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.suggestions-container h2 {
  padding-bottom: 1rem;
}

.suggestions-container .suggestions-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 2rem;
  padding-right: 15rem;
  padding-left: 15rem;
}

.suggestions-container .suggestions-list .suggestion {
  border-radius: 1rem;
  background: rgba(149, 221, 224, 0.705);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 2fr;
      grid-template-columns: 2fr 2fr;
  -webkit-column-gap: 10rem;
          column-gap: 10rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

.suggestions-container .suggestions-list .suggestion .suggestion-details {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 2fr 2fr;
      grid-template-columns: 2fr 2fr 2fr;
  gap: 7rem;
}

.suggestions-container .suggestions-list .suggestion .btn {
  margin-left: 5rem;
  margin-right: 5rem;
}

.suggestions-container button.download {
  background-color: #9FB4FF;
  margin-top: 2rem;
}

.combination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.combination img {
  width: 15%;
  margin-top: 3rem;
}

@media (max-width: 900px) {
  .container .suggestions-list .suggestion {
    padding-left: 7rem;
    padding-right: 7rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2rem;
  }
  .container .suggestions-list .suggestion .suggestion-details {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 2fr 2fr;
        grid-template-columns: 2fr 2fr 2fr;
    gap: 7rem;
  }
  .container .suggestions-list .suggestion .btn {
    margin-left: 5rem;
    margin-right: 5rem;
  }
}

@media (max-width: 600px) {
  .container .suggestions-container {
    padding: 1rem;
  }
  .container .suggestions-container .suggestion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .suggestions-container .suggestion .suggestion-details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */