html,body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width:100vw;
    height: 100vh;
    
}

.container{
    margin: 0;
    padding: 0;
    width: 100%;
}
  

.suggestions-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    
    h2{
        padding-bottom: 1rem;
    }
    .suggestions-list{
        display:flex;
        flex-direction: column;
        row-gap: 2rem;
        padding-right: 15rem;
        padding-left: 15rem;
        .suggestion{
            border-radius: 1rem;
            background: rgba(149, 221, 224, 0.705);
            display: grid;
            grid-template-columns: 2fr 2fr;
            column-gap: 10rem;
            justify-content: space-between;
            padding-top: 2rem;
            padding-bottom: 2rem;
            padding-left: 5rem;
            padding-right: 5rem;
            .suggestion-details{
                display: grid;
                grid-template-columns: 2fr 2fr 2fr;
                gap: 7rem;
            }
            .btn{
                margin-left: 5rem;
                margin-right: 5rem;
            }
          
        }
    }

    button.download{
        background-color: #9FB4FF;
        margin-top: 2rem;
    }
}

.combination{
    display: flex;
    justify-content: space-around;
    img{
        width: 15%;
        margin-top: 3rem;
    }
}

@media (max-width: 900px){
    .container{
        .suggestions-list{
            .suggestion{
                padding-left: 7rem;
                padding-right: 7rem;
                display: flex;
                flex-direction: column;
                gap: 2rem;
                .suggestion-details{
                    display: grid;
                    grid-template-columns: 2fr 2fr 2fr;
                    gap: 7rem;
                }
                .btn{
                    margin-left: 5rem;
                    margin-right: 5rem;
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .container{

        .suggestions-container{
            padding: 1rem;
            .suggestion{
                display: flex;
                padding: 1rem;
                flex-direction: column;
                .suggestion-details{
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                }
            }
        }
    }
}

