body { overflow-x: hidden; /* Hide horizontal scrollbar  */ }
.user-container {
  margin: 5rem;
  background-color:#6f9fd7d0;
  border-radius: 25px;
  display:grid;
  grid-template-columns: 3fr 3fr 3fr;
  padding: 3rem;
  margin-left: 10rem;
  margin-right: 10rem;

  .user-details{
    text-align: center;
  }

  .user-statistics{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .user-buttons{
    width: 15rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }

  .profile-btn {
    font-size: 13.3px;
  }
}
